# ============================================
# Переменные окружения для docker-compose
# ============================================

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=afisha

DATABASE_DRIVER=postgres
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=afisha

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

VITE_API_URL=/api/afisha
VITE_CDN_URL=/content/afisha

GHCR_IMAGE_PREFIX=ghcr.io/githublogin/film-react-nest
